@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}
body {  
   display: flex;
   flex-flow: column;
    background: #879957FF;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
  }
  .navbar {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    width: 100vw;
    margin: 0;
    height: 56px;
    position: fixed;
    top: 0px;
    margin: 3px 5px;
  }
  
  .navbar #brand {
    display: flex;
    align-items: center;
  }
  
   #brand img {
    height: 3rem;
  }
  
 #brand_name {
    font-size: 1.5rem;
    font-family: Catamaran;
    margin: 0;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 24px;
  }
  
  .navbar ul li {
    margin-right: 1rem;
    font-family: Catamaran;
    display: flex;
    justify-content: flex-start;
  }
  
   .navbar a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .navbar ul li a:hover {
    color: #879957FF;
  }
   button {
  font-family: Catamaran; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: #FFFFFFFF; /* white */
  background: #879957FF;
  margin-right: 10px;
  width: 160px; 
  height: 36px;
  opacity: 1; 
  border: none; 
  border-radius: 3px;
  }
  
button:hover {
    background-color: #3c3700;
    cursor: pointer;
  }
  #navbarlogolist{
    display: flex;
    width: 100%;

  }
  #hero{
width: 100%;
  }
 #hero{
    background-image: url(../images/hero.jpg);
    height: 100vh;
    width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    

 }

 #hero h1 {
    margin-bottom: 0px;
    margin-top: 5%;
    padding-left: 5%; 
    width: 100%; 
    height: auto; 
    font-family: Catamaran;
    font-size: 64px; 
    line-height: 84px; 
    font-weight: 700; 
    color: #FFFFFFFF;
 }
 #hero p{
    margin-top: 0px;
    margin-left: 5%;
    width: 90vw; 
  height: auto; 
  font-family: Catamaran; /* Body */
  font-size: 24px; 
  line-height: 36px; 
  font-weight: 400; 
  color: #F3F4F6FF;
 }
 #hero a button{
    margin-top: 20px;
    margin-left: 38%;
    font-family: Catamaran; 
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    color: #FFFFFFFF; /* white */
    background: #879957FF;
    width: 200px; 
    height: 100%;
    opacity: 1; 
    border: none; 
    border-radius: 3px;
 }
 #hero button:hover {
    background-color: #3c3700;
    cursor: pointer;
  }
 #about_us{
    background-color: #FFFFFFFF;
    display: flex;
    flex-flow: column;
    justify-self: center;
    align-items: center;
    padding-bottom: 30px;
 } 
 h1{
    width: 238px; 
    height: 78px; 
    font-family: Catamaran; /* Body */
    font-size: 56px; 
    line-height: 78px; 
    font-weight: 700; 
    color: #171A1FFF;
 }
 #about_us p{
    text-align: center;
    width: 90%;
    font-family: Catamaran;
 }
 #about_us img{
    width: 95%; 
  height: 592px; 
  border-radius: 10px 10px 10px 10px;
 }
 footer{
    width: 100%; 
  height: auto; 
  background: #1E2128FF;
  border-radius: 0px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
 }
 footer .emailforme{
    display: flex;  
 }
 footer label{
    width: 252px; 
    height: 100%; 
    font-family: Catamaran; /* Body */
    font-size: 20px; 
    line-height: 30px; 
    font-weight: 600; 
    color: #FFFFFFFF;
    margin-top: 10px;
 }
 footer .email_input{
    width: 264px; 
    height: 44px; 
    padding-left: 44px; 
    padding-right: 16px; 
    margin-top:10px ;
    font-family: Catamaran; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
    background: #00000000; /* transparent */
    border-radius: 22px 0px 0px 22px; /* border-tl-rounded border-bl-rounded */
    border-width: 1px; 
    border-color: #BDC1CAFF; /* neutral-400 */
    border-style: solid; 
    outline: none;
 }
 footer button{
    width: 112px; 
  height: 47px; 
  padding: 0 16px; 
  margin-top: 10px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Catamaran; 
  font-size: 16px; 
  line-height: 26px; 
  font-weight: 400; 
  color: #FFFFFFFF;
  background: #879957FF;
  opacity: 1; 
  border: none; 
  border-radius: 0px 22px 22px 0px;
 }
 footer #brand{
    display: flex;
    align-items: center;
    width: 37%;
    
 }
 footer .section_short{
    margin-top: 72px;
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    
 }
 footer #brand #brand_name{
    color: #FFFFFFFF;
    
    
 }
 footer .links {
    display: flex;
    width: 80%;
    gap: 40px;
    justify-content: center;
    padding-left: 50px ;
    flex-wrap: wrap;
 }
 footer a{
    color: #FFFFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Catamaran;
 }
 footer a:hover{
    color: #879957FF;
    cursor: pointer;
    transition: color 0.3s ease;
 }
footer .devider{
    width: 100%; 
    height: 0px; 
    border-width: 1px; 
    border-color: #DEE1E6FF; /* neutral-300 */
    border-style: solid; 
    transform: rotate(0.05deg);
}
.copyright p{
    color: #FFFFFFFF;
    font-family: Catamaran;
}
footer .CS .socials img{
    width: 24px; 
  height: 24px; 
  fill: #4CD2FFFF;
}
footer .CS{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
footer .socials{
    width: 80%;
    display: flex;
    justify-content: end;
    gap: 10px;
}
#Contact_Us{
   background-color: #FFFFFFFF;
   display: flex;
   justify-content: space-around ;
   align-items: ;
   padding-bottom: 30px;
   flex-wrap: wrap;
   width: 100%;

}
.container{
   background-color: #FFFFFFFF;
   display: flex;
   flex-flow: column;
   justify-self: center;
   align-items: start;
   padding-bottom: 30px;
   margin-top: 50px;
   width: 450px;
   
}
.container h1{
   width: 100%;
}
.container iframe{
   width: 100%;
}
.container p{
   font-family: Catamaran;
}
form{
   width: 50%;
   display: flex;
   flex-flow: column;
   justify-content: start;
   margin-top: 135px;

}
form .full_name{
   display: flex;
   width: 100%;
   justify-content: center;
   gap: 50px;
}
.full_name .last_name{
   width: 50%;
}
.full_name .First_name{
   width: 50%;
}
form label{
   font-family: Catamaran; 
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 700;
  margin-top: 15px;
  
}
form input{
   width: 100%; 
   height: 52px; 
   padding-left: 20px; 
   padding-right: 20px; 
   font-family: Catamaran; 
   font-size: 18px; 
   line-height: 28px; 
   font-weight: 400; 
   background: #F3F4F6FF; 
   border-radius: 2px; 
   border-width: 0px; 
   outline: none;
   opacity: 1;
   
}
form input:hover{
   color: #BDC1CAFF; 
  background: #F3F4F6FF
}
form textarea{
   opacity: 1;
   width: 100%; 
  height: 106px; 
  padding-top: 12px; 
  padding-bottom: 12px; 
  padding-left: 16px; 
  padding-right: 16px; 
  font-family: Catamaran; 
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 400; 
  color: #BDC1CAFF;
  background: #F3F4F6FF; 
  border-radius: 2px; 
  border-width: 0px;
  outline: none;
}
form button{
   width: 100%;
   margin-top: 59px;
}
#gallery{
   background-color: #FFFFFFFF;
   padding-bottom: 40px;
   height: 100%; 
   display: flex;
   flex-flow: column;

}
#gallery h1{
   width: 100%;
   text-align: center;
   margin-top: 50px;

}
.items1,.items2{
   display: flex;
   justify-content: space-between;
  

}

.gallery_items .item{
   display: flex;
   justify-content: space-between;
   width: 52%;
   border-radius: 2px; 
   border: 1px solid #cccccc;
  box-shadow: 0px 0px 1px #a9bde0;
  margin: 14px; 
   padding: 10px;
   flex-wrap: wrap;

}
.gallery_items .item:hover{
   transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;

} 
.labeling{
   display: flex;
   flex-flow: column;
   
   

}
.labeling h2{
   margin-bottom: 8px;
   width: 173px; 
  height: 30px; 
  font-family: Catamaran; 
  font-size: 20px; 
  line-height: 30px; 
  font-weight: 700; 
  color: #171A1FFF;

}
.labeling P{
   width: 100%; 
  height: 100%; 
  font-family: Catamaran; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  margin: 5px;
  color: #9095A1FF
}
.item img{
   width: 160px; 
  height: 156px; 
  border-radius: 2px;
  margin: 16px;
}
#menu{
   background-color: #FFFFFFFF;
   padding-bottom: 40px;
   height: 100%; 
   display: flex;
   align-items: center;
   flex-flow: column;
   margin-top: 50px;
}
.menu_items{
   display: flex;
   justify-content: space-evenly;
   box-sizing: border-box;
   max-width: 100%;
   gap: 20px;

}
.menu1 .item,.menu2 .item{
   display: flex;
   justify-content:space-between;
   border-radius: 2px; 
   border: 1px solid #cccccc;
  box-shadow: 0px 0px 1px #a9bde0;
  
  padding: 10px;

  

}
.menu1,.menu2{
   width: 50%;
}
.menu1 .item:hover{
   transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}
.menu2 .item:hover{
   transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}
#menu form button{
   margin-top: 10px;
}
#booking{
   background-color: #FFFFFFFF;
   padding-bottom: 40px;
   height: 100%; 
   display: flex;
   align-items: center;
   flex-flow: column;
}
#booking h1{
   margin-top: 10%;
   width: 100%;
   text-align: center;
}
#booking form{
   margin-top: 0px;
   gap: 5px;
}
#booking form button{
   margin-top: 10px;
}
section{
   min-width: 100%;
   box-sizing: border-box;
}
.checked{
   display: none ;
}
@media (max-width:769px) {
   .checked{
      display: flex;
   }
   .berger_menu{
      display: flex;
      flex-flow: column;
      gap: 6px;
      width: max-content;
      padding-right: 40px;
      z-index: 2;
      cursor: pointer;
         
      }
      .berger_menu::before,
      .berger_menu::after,
      .berger_menu input{
      content: "";
      width: 60px;
      height: 4px;
      background-color: #879957FF;
      border-radius: 9999px;
      transition: opacity 200ms ease-in-out;
      
      
      }
      .berger_menu input{
         appearance: none;
         padding: 0;
         margin: 0;
         outline: none;
         pointer-events: none;
      }
      .berger_menu:has(input:checked)::before,
      .berger_menu:has(input:checked)::after,
      .berger_menu input:checked{
         background-color: rgba(135, 153, 87, 0.568);
      
      
      }
      .sidebar{
         transition: translate 200ms ease-in-out;
         translate: 100% ;
         position: fixed;
         top:-44px;
         right: 0px;
         padding: 0.5rem 1rem;
         margin-top: 100px;
         background-color: rgb(255, 255, 255);
         max-width: 15rem;
         min-height: 100%;
         display: flex;
         flex-flow: column;
         gap:5px;
         font-family:Catamaran ;
         align-items: center;
        
      }
      .berger_menu:has(input:checked) + .sidebar{
         translate: 0%;
      }
      .unchecked{
         display: none !important;
      }
      #Contact_Us,#gallery,.items1,.items2,{
         flex-wrap: wrap;
      }
      .menu_items{
         display: block;
      }
      .menu1 .item,.menu2 .item{
         width: 90vw;
      }
      .items1,.items2{
         flex-wrap: wrap;
         
      }
      .item{
         width: 100vw !important;

      }
      .gallery_items .item {
         margin: 0;
      }
      #about_us img {
         height: auto;
      }
      .full_name{
         display: block !important;
      }
}
@media (max-width:1230px) {
   .items1, .items2{
      display: block;
      width: 100vw;
   }
   .gallery_items .item{
      width: 100%;
   }
   
}
