@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');
body {  
    background: #879957FF;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
  }
  .navbar {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #f8f9fa;
    width: 100%;
    margin: 0;
    height: 56px;
  }
  
  .navbar #brand {
    display: flex;
    align-items: center;
  }
  
   #brand img {
    height: 3rem;
  }
  
 #brand_name {
    font-size: 1.5rem;
    font-family: Catamaran;
    margin: 0;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    margin-left: 0px;
  }
  
  .navbar ul li {
    margin-right: 1rem;
    font-family: Catamaran;
    display: flex;
    justify-content: flex-start;
  }
  
   .navbar a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .navbar ul li a:hover {
    color: #879957FF;
  }
   button {
  font-family: Catamaran; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: #FFFFFFFF; /* white */
  background: #879957FF;
  margin-right: 10px;
  width: 160px; 
  height: 36px;
  opacity: 1; 
  border: none; 
  border-radius: 3px;
  }
  
button:hover {
    background-color: #3c3700;
    cursor: pointer;
  }
  #navbarlogolist{
    display: flex;
    width: 100%;

  }
  #hero{
width: 100%;
  }
 #hero{
    background-image: url(/assets/images/hero.png);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    

 }

 #hero :first-child {
    margin-bottom: 0px;
    margin-top: 5%;
    margin-left: 5%; 
    width: 100vw; 
    height: 84px; 
    font-family: Catamaran;
    font-size: 64px; 
    line-height: 84px; 
    font-weight: 700; 
    color: #FFFFFFFF;
 }
 #hero :nth-child(3){
    margin-top: 0px;
    margin-left: 5%;
    width: 90vw; 
  height: 36px; 
  font-family: Catamaran; /* Body */
  font-size: 24px; 
  line-height: 36px; 
  font-weight: 400; 
  color: #F3F4F6FF;
 }
 #hero button{
    margin-top: 5%;
    margin-left: 10%;
    font-family: Catamaran; 
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 400; 
    color: #FFFFFFFF; /* white */
    background: #879957FF;
    width: 160px; 
    height: 36px;
    opacity: 1; 
    border: none; 
    border-radius: 3px;
 }
 #hero button:hover {
    background-color: #3c3700;
    cursor: pointer;
  }
 #about_us{
    background-color: #FFFFFFFF;
    display: flex;
    flex-flow: column;
    justify-self: center;
    align-items: center;
    padding-bottom: 30px;
 } 
 #about_us h1{
    width: 238px; 
    height: 78px; 
    font-family: Catamaran; /* Body */
    font-size: 56px; 
    line-height: 78px; 
    font-weight: 700; 
    color: #171A1FFF;
 }
 #about_us p{
    text-align: center;
    width: 90%;
    font-family: Catamaran;
 }
 #about_us img{
    width: 1176px; 
  height: 592px; 
  border-radius: 10px 10px 10px 10px;
 }
 footer{
    width: 100%; 
  height: 407px; 
  background: #1E2128FF;
  border-radius: 0px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
 }
 footer .emailforme{
    display: flex;  
 }
 footer label{
    width: 252px; 
    height: 30px; 
    font-family: Catamaran; /* Body */
    font-size: 20px; 
    line-height: 30px; 
    font-weight: 600; 
    color: #FFFFFFFF
 }
 footer .email_input{
    width: 264px; 
    height: 44px; 
    padding-left: 44px; 
    padding-right: 16px; 
    font-family: Catamaran; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
    background: #00000000; /* transparent */
    border-radius: 22px 0px 0px 22px; /* border-tl-rounded border-bl-rounded */
    border-width: 1px; 
    border-color: #BDC1CAFF; /* neutral-400 */
    border-style: solid; 
    outline: none;
 }
 footer button{
    width: 112px; 
  height: 47px; 
  padding: 0 16px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Catamaran; 
  font-size: 16px; 
  line-height: 26px; 
  font-weight: 400; 
  color: #FFFFFFFF;
  background: #879957FF;
  opacity: 1; 
  border: none; 
  border-radius: 0px 22px 22px 0px;
 }
 footer #brand{
    display: flex;
    align-items: center;
    width: 37%;
    
 }
 footer .section_short{
    margin-top: 72px;
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    
 }
 footer #brand #brand_name{
    color: #FFFFFFFF;
    
    
 }
 footer .links {
    display: flex;
    width: 80%;
    gap: 40px;
    /* justify-content: center; */
    padding-left: 50px ;
 }
 footer a{
    color: #FFFFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Catamaran;
 }
 footer a:hover{
    color: #879957FF;
    cursor: pointer;
    transition: color 0.3s ease;
 }
footer .devider{
    width: 1176px; 
    height: 0px; 
    border-width: 1px; 
    border-color: #DEE1E6FF; /* neutral-300 */
    border-style: solid; 
    transform: rotate(0.05deg);
}
.copyright p{
    color: #FFFFFFFF;
    font-family: Catamaran;
}
footer .CS .socials img{
    width: 24px; 
  height: 24px; 
  fill: #4CD2FFFF;
}
footer .CS{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
footer .socials{
    width: 80%;
    display: flex;
    justify-content: end;
    gap: 10px;
}
footer .copyright{
    
}
